.App {
  text-align: center;
}

a:link, a:visited {
  color: (internal value);
  text-decoration: underline;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: (internal value);
}

/* a{
  color: black;
}
a:hover {
  color: #00F
}
a::after{
  color: black
} */


